*{
    margin: 0;
    scroll-behavior: smooth;

}
:root{
    --color1:#011826;
    --color2:#FFFFFF;
    --color3:#FF9A16;
    --color4: #E7174A;
    --color5: #2CC1AA;
}
body{
    background-color: var(--color1);
    max-width: 1920px;
    margin: auto;
}
p, a{
    font-family: "Open Sans", sans-serif;
}
p{
    color: var(--color2);
}


h1,h2, h3{
    font-family: "Raleway",sans-serif;
    font-size: 36px;
    color: var(--color2);

}
a{
    text-decoration: none;
    font-size: 16px;
    color: var(--color2);
  
}
a:hover{
    color: var(--color4);
}
li{
    list-style: none;
}
header{
    max-width: 1470px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;

    img{
        width: 100%;
        object-fit: cover;
        height: 39px;
    }
    nav ul{
        display: flex;
        gap: 20px;

        .contact{
            color: var(--color2);
            font-weight: 600;
            font-style: SemiBold;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            border-radius: 4px;
            background-color: var(--color3);
            padding: 4px;


        }
        a{
            color: var(--color3);
    
        }


    }
}
/* SECTION 1 */
#section1{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;

    img{
        width: 100%;
        object-fit: cover;
        height: 664px;
    }
    article{
        width: 80%;
        margin-top: 40px;
   
    h1{
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.2px;
        vertical-align: middle;

        }
        p{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        vertical-align: middle;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;

        }
     a{
        border:1px solid;
        border-color: var(--color3);
        background-color: var(--color3);  
        padding: 10px;  
     }
        
     }
}

/* SECTION 2 */
#section2{
    max-width: 1340px;
    margin: auto;
    padding-top: 70px;
   

  
    .art1{
        display: flex;

    }
        h2{
        font-weight: 700;          
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 1.2px;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 40px;

        }

        .image1{
            display: block;
            width: 60%;
            object-fit: cover;
            transform: translateX(100px);
             z-index: 1;
        }
        .div1{
            background-color: var(--color3);
            padding: 20px;
           right: 60px;
            top: 200px;
           max-width: 400px;
            align-self: center;
           transform: translateX(-100px);
           z-index: 2;
            h3{
                font-weight: 700;
                font-size: 21px;
                line-height: 100%;
                letter-spacing: 1.2px;
                vertical-align: middle;

            }
            p{
                padding-top: 30px;
                font-weight: 400;
                font-size: 16px;
                vertical-align: middle;
    
            }
        a{
        color: var(--color2);
        background-color: var(--color1);
        border-color: var(--color2);
        padding: 10px;
        z-index: 3;
        }
        .art2{
            margin-top: 80px;
            padding-top: 40px;
            display: flex;
            .image2{
            display: block;
            width: 60%;
            object-fit: cover;
            right: 60px;
            transform: translateX(-100px);
            z-index: 2;
                }
                .div2{
                    background-color: var(--color3);
                    padding: 20px;
                  transform: translateX(100px);
                  z-index: 1;
                  
                    top: 200px;
                    max-width: 400px;
                    bottom: 20px;
                    align-self: center;
                    h3{
                        font-weight: 700;
                        font-size: 21px;
                        line-height: 100%;
                        letter-spacing: 1.2px;
                        vertical-align: middle;

                    }
                    p{
                        padding-top: 30px;
                        font-weight: 400;
                        font-size: 16px;
                        vertical-align: middle;
                    }
                    a{
                        color: var(--color2);
                        background-color: var(--color1);
                        border-color: var(--color2);
                        padding: 10px;
                        z-index: 3;
                
                        }
                   

      
}

footer{
    background-color: var(--color5);
    height: 52px;

    p{
        text-align: center;
       padding-top:  10px;
    }
}