*{
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;

}
:root{
    --color1:#011826;
    --color2:#FFFFFF;
    --color3:#FF9A16;
    --color4: #E7174A;
    --color5: #2CC1AA;
}
body{
    background-color: var(--color1);
    max-width: 1920px;
    margin: auto;
}
p, a{
    font-family: "Open Sans", sans-serif;
}
p{
    color: var(--color2);
}
.art2A{
    z-index: 3;
color: var(--color2);
    background-color: var(--color1);
    padding: 20px;
    border: 1px solid;
    border-color: var(--color2);
    transform: translateY(40px);
    display: block;
    justify-self: center;
    z-index: 2;

}
.art2A:hover{
    color: var(--color2);
    background-color: var(--color4);
}


h1,h2, h3{
    font-family: "Raleway",sans-serif;
    font-size: 36px;
    color: var(--color2);

}
a{
    text-decoration: none;
    font-size: 16px;
    color: var(--color2);
  
}
a:hover{
color: var(--color4);
}

header{
    max-width: 1470px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    
    .header0{
          font-family: "Open Sans", sans-serif;
           color: var(--color2);
           font-size: 16px;
    }

    img{
        width: 100%;
        object-fit: cover;
        height: 39px;
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        a{
           color: var(--color3);
    
        }

        .contact{
            font-weight: 600;
            font-style: SemiBold;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            border-radius: 4px;
            background-color: var(--color3);
            padding: 6px;


        } 
        .contact a{
            font-family: "Open Sans", sans-serif;
                 color: var(--color2);
                 font-size: 16px;

        }
        .contact:hover{
            color: var(--color2);
            background-color: var(--color4);
        }
        li{
            list-style: none;
        }


    }
}
/* SECTION 1 */
#section1{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;

    img{
        width: 100%;
        object-fit: cover;
        height: 664px;
    }
    div{
        width: 80%;
        margin-top: 40px;
   
    h1{
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1.2px;
        vertical-align: middle;

        }
        p{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        vertical-align: middle;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;

        }
     a{
        border:1px solid;
        border-color: var(--color3);
        background-color: var(--color3);  
        padding: 10px;  
     }
     a:hover{
        color: var(--color2);
        background-color: var(--color4);
     }
     
     
        
     }
}

/* SECTION 2 */
#section2{
    max-width: 1340px;
    margin: auto;
    padding-top: 70px;
   

  
    .art1{
        display: flex;

    }
        h2{
        font-weight: 700;          
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 1.2px;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 40px;

        }

        .image1{
            display: block;
            width: 60%;
            object-fit: cover;
            transform: translateX(100px);
             z-index: 1;
        }
        .div1{
            background-color: var(--color3);
            padding: 20px;
           right: 60px;
            top: 200px;
           max-width: 400px;
            align-self: center;
           transform: translateX(-100px);
           z-index: 2;
            h3{
                font-weight: 700;
                font-size: 21px;
                line-height: 100%;
                letter-spacing: 1.2px;
                vertical-align: middle;

            }
            p{
                padding-top: 30px;
                font-weight: 400;
                font-size: 16px;
                vertical-align: middle;
    
            }
        }
        .art2{
            margin-top: 80px;
            padding-top: 40px;
            display: flex;
          

            .image2{
            display: block;
            width: 60%;
            object-fit: cover;
            right: 60px;
            transform: translateX(-100px);
            z-index: 2;
                }
                .div2{
                    background-color: var(--color3);
                    padding: 20px;
                  transform: translateX(100px);
                  z-index: 1;
                  
                    top: 200px;
                    max-width: 400px;
                    bottom: 20px;
                    align-self: center;
                    h3{
                        font-weight: 700;
                        font-size: 21px;
                        line-height: 100%;
                        letter-spacing: 1.2px;
                        vertical-align: middle;

                    }
                    p{
                        padding-top: 30px;
                        font-weight: 400;
                        font-size: 16px;
                        vertical-align: middle;
            
                    }

        }

      }
}

/* SECTION 3 */
#section3{
    max-width: 1440px;
    margin: auto;
    padding: 70px;
        .sec000{
         display: grid;
         grid-template-columns: 1fr 1fr;
            gap: 20px;

        }
        h2{
            text-align: center;
            padding-bottom: 40px;
        }
        details{
            gap: 20px;
            padding: 10px;
        }
        summary{
            background-color: var(--color2);
            color: var(--color3);
            padding: 20px;
            list-style: none;
            border: 1px solid;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            vertical-align: middle;
            border-style: 10px;
            text-decoration: underline;
            text-underline-offset: 12px;
            text-decoration-color: var(--color4);


        }
        ul{
            background-color: var(--color2);
            color: var(--color1);
        }
}

/* SECTION 3 */
#section4{
    max-width: 1440px;
    margin: auto;
    .sec3a{
         color: var(--color2);
        background-color: var(--color1);
        padding: 25px;
        border: 1px solid;
        border-color: var(--color2);
        display: block;
        
    }
    .sec3a:hover{
        color: var(--color2);
        background-color: var(--color4);
    }
    .sec31{
        color: var(--color2);
        background-color: var(--color1);
        padding: 12px;
        border: 1px solid;
        border-color: var(--color2);
        display: block;
        margin-top: 40px;
        justify-self: self-start;
        margin-bottom: 40px;
        
    }
    .sec31:hover{
        color: var(--color2);
        background-color: var(--color4);
    }
        .divsec0{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        .divsec3{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            .div00{
                margin-top: 100px;
                border: 1px solid;
                border-color: var(--color2);
                padding: 20px;
                position: relative;

            }
            .front{
                position: absolute;
                background-color: #011826;
                border-color: var(--color2);
                padding: 10px;
                left: 40px;
               margin-top: 20px;
            }

            img{
                width: 100%;
                object-fit: cover;
                height: 180px;
            }
            h3{
                font-size: 21px;
                padding-top:20px;
                padding-bottom: 20px;
            }
        }
}

footer{
    background-color: var(--color5);
    height: 52px;

    p{
        text-align: center;
       padding-top:  10px;
    }
}

/* RESPONSIVE */
@media screen and (max-width:1024px) {

    
}